# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# Virtual environments
lc-env/
venv/
.env
.env.* 

# macOS
.DS_Store

# Any Logs
*.log

# Jupyter junk
.ipynb_checkpoints/

# Streamlit / temporary cache
.streamlit/
*.sqlite3
.cache/
.aider*
