# Agentic
langchain==0.3.27
langchain-experimental==0.3.3
langchain-google-genai==2.1.12
langchain-tavily==0.2.17
tabulate

# Web framework
streamlit==1.54.0
pandas==2.3.3
matplotlib==3.10.8
python-dotenv==1.2.1
plotly
pypdf
folium
streamlit_folium


# Vector Store
chromadb==0.5.23

# Embeddings
gpt4all==2.8.2

# Garmin API
garminconnect
